<picture class="@className">
  <source srcset="img/@fileName-xs.webp" media="(max-width: 320px)">
  <source srcset="img/@fileName-xs.png" media="(max-width: 320px)">
  <source srcset="img/@fileName-sm.webp" media="(max-width: 768px)">
  <source srcset="img/@fileName-sm.png" media="(max-width: 768px)">
  <source srcset="img/@fileName-md.webp" media="(max-width: 1024px)">
  <source srcset="img/@fileName-md.png" media="(max-width: 1024px)">
  <source srcset="img/@fileName-lg.webp">
  <img class="@className__img" src="img/@fileName-lg.png" alt="@alt">
</picture>
