<div class="search">
  <button class="btn-reset search__btn" aria-label="Открыть поиск">
    <svg class="search__btn-svg">
        <use xlink:href="img/sprite.svg#search"></use>
    </svg>
  </button>
  <div class="search__slide">
    <input class="input-reset search__input" type="text" name="search" placeholder="Что будем искать?">
    <button class="btn-reset search__btn-close" aria-label="Закрыть поиск">
      <svg class="search__btn-close-svg">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </button>
  </div>
</div>
