<section id="contacts" class="section contacts">
  <div class="container">
    <h2 class="section-title contacts__title">Контакты</h2>
    <div class="contacts__content">
      <div class="contacts__map">
        <div id="map"></div>
        <div class="contacts__map-description">
          <div class="contacts__map-description-content">
            <h3 class="contacts__map-description-title">Студия «High pass»</h3>
            <address class="contacts__map-description-address">
              107045, Москва, Даев переулок, дом&nbsp;41, бизнес-центр &laquo;Даев Плаза&raquo;, этаж&nbsp;8, офис &#8470;&nbsp;82
            </address>
            <a href="tel:+749542423532" class="main-phone contacts__main-phone">
              <svg class="main-phone__svg">
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
              +7&nbsp;495&nbsp;424-23-532</a>
            <button class="btn-reset btn-close contacts__map-description-btn-close">
              <svg class="btn-close__svg contacts__map-description-btn-close-svg">
                <use xlink:href="img/sprite.svg#cross"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="contacts__form">
        <form action="#" class="form contacts__form form-callback">
          <div class="form__header">
            <h3 class="form__title contacts__form-title">Оставить заявку</h3>
            <p class="form__subtitle contacts__form-subtitle">Оставьте ваши данные, указав в&nbsp;графе &laquo;Комментарий&raquo;
              желаемые время и&nbsp;дату съёмки или другого мероприятия</p>
          </div>
          <div class="form__fields-group">
            <label class="form__label">
              <input class="form__input" name="name" type="text" placeholder="Имя">
            </label>
            <label class="form__label">
              <input class="form__input" name="email" type="email" placeholder="Email">
            </label>
            <label class="form__label">
              <textarea class="form__textarea" name="comment" placeholder="Комментарий"></textarea>
            </label>
          </div>
          <button class="btn-reset btn btn--primary form__btn contacts__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
