<section id="projects" class="section projects">
  <div class="container">
      <h2 class="section-title projects__title">Наши проекты</h2>

      <div class="projects__content">

        <a href="#" class="projects__item projects__element" aria-label="Проект пейзаж">
          <div class="projects__item-decoration" style="background-image: url(img/project_1.jpg);"></div>
          <p class="projects__item-text">Синтетически, смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени...</p>
          <time class="projects__item-date" datetime="2023-06-16">
            <svg class="projects__item-date-svg">
              <use xlink:href="img/sprite.svg#date"></use>
            </svg>
            16&nbsp;июня</time>
          <div class="hashtag projects__hashtag">#пейзаж</div>
        </a>

        <a href="#" class="projects__item projects__element" aria-label="Проект портрет">
          <div class="projects__item-decoration" style="background-image: url(img/project_2.jpg);"></div>
          <p class="projects__item-text">В&nbsp;своём стремлении улучшить опыт упускаем, что явные...</p>
          <time class="projects__item-date" datetime="2023-05-28">
            <svg class="projects__item-date-svg">
              <use xlink:href="img/sprite.svg#date"></use>
            </svg>
            28&nbsp;мая</time>
          <div class="hashtag projects__hashtag">#портрет</div>
        </a>

        <a href="#" class="projects__item projects__element" aria-label="Проект предмет">
          <div class="projects__item-decoration" style="background-image: url(img/project_3.jpg);"></div>
          <p class="projects__item-text">Равным образом, высокое качество позиционных…</p>
          <time class="projects__item-date" datetime="2023-05-14">
            <svg class="projects__item-date-svg">
              <use xlink:href="img/sprite.svg#date"></use>
            </svg>
            14&nbsp;мая</time>
          <div class="hashtag projects__hashtag">#предмет</div>
        </a>

        <div class="projects__banner projects__element" style="background-image: url(img/project_4.jpg);">
          <div class="projects__banner-content">
            <time class="projects__banner-date" datetime="2023-04-16">
              <svg class="projects__banner-date-svg">
                <use xlink:href="img/sprite.svg#date"></use>
              </svg>
              9&nbsp;апреля</time>
            <h3 class="projects__banner-title">Cемантический разбор</h3>
            <p class="projects__banner-text">В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы</p>
          </div>
          <a href="#" class="btn btn--secondary projects__banner-link" aria-label="Проект фуджи">О&nbsp;проекте</a>
          <div class="hashtag projects__hashtag">#fuji</div>
        </div>

        <div class="projects__banner projects__element" style="background-image: url(img/project_5.jpg);">
          <div class="projects__banner-content">
            <time class="projects__banner-date" datetime="2023-03-20">
              <svg class="projects__banner-date-svg">
                <use xlink:href="img/sprite.svg#date"></use>
              </svg>
              20&nbsp;марта</time>
            <h3 class="projects__banner-title">Забвение</h3>
            <p class="projects__banner-text">Играет важную роль в&nbsp;формировании глубокомысленных рассуждений</p>
          </div>
          <a href="#" class="btn btn--secondary projects__banner-link" aria-label="Проект забвение">О&nbsp;проекте</a>
          <div class="hashtag projects__hashtag">#проектзабвение</div>
        </div>

        <a href="#" class="projects__item projects__element" aria-label="Проект ретушь">
          <div class="projects__item-decoration" style="background-image: url(img/project_6.jpg);"></div>
          <p class="projects__item-text">Как принято считать, многие известные личности и по сей день остаются уделом либералов…</p>
          <time class="projects__item-date" datetime="2023-03-09">
            <svg class="projects__item-date-svg">
              <use xlink:href="img/sprite.svg#date"></use>
            </svg>
            9&nbsp;марта</time>
          <div class="hashtag projects__hashtag">#ретушь</div>
        </a>

        <a href="#" class="projects__item projects__element" aria-label="Проект портрет">
          <div class="projects__item-decoration" style="background-image: url(img/project_7.jpg);"></div>
          <p class="projects__item-text">С&nbsp;учётом сложившейся международной обстановки, новая модель организационной...</p>
          <time class="projects__item-date" datetime="2023-03-01">
            <svg class="projects__item-date-svg">
              <use xlink:href="img/sprite.svg#date"></use>
            </svg>
            1&nbsp;марта</time>
          <div class="hashtag projects__hashtag">#портрет</div>
        </a>


      </div>
  </div>
</section>
